@use "./components/navbar/navbar.scss";
@use "./components/Main/Features/Features.scss";
@use "./components/Main/skills/skills.scss";
@use "./components/Main/Contributors/cont.scss";
@use "./components/Posts/posts.scss";
@use "./components/scrollUp/style.scss";
@use "./components/Main/home/home.scss";
@use "./components/MakePost/routing.scss";
@use "./components/admin/form/form.scss";

[data-aos] {
    pointer-events: auto;
}

*{
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    
    &::selection {
        background: crimson;
    }

    .max-width {
        margin: auto;
        max-width: 1300px;
        padding: 0px 80px;
        @media (max-width: 1000px) {
            padding: 0 30px;
        }
    } 

    @media screen and (max-width:600px) {
        overflow-x: hidden;
    }
}

// scroll
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: crimson; 
}