@use "./s-item/style.scss";
@use "../temlate.scss";

.Skills {
    background: #242424;
    @extend %header;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    @media screen and (max-width:600px) {
        flex-direction: column;
        .Card-skills {
            width: 100%;
        }
    }
} 