@use "./CommandField.scss";
@use "./Areas/code/CodeArea.scss";
@use "./Areas/text/TextArea.scss";
@use "./Buttons/Buttons.scss";

.deleteArea {
    color: "white"
}

.AcceptButton {
    padding: 3px 6px;
    background: crimson;
}

.Head {
    width: 100%;
    text-align: center;
    color: crimson;
    margin-bottom: 10px;
}

