@use "./CommandField.scss";
@use "./Areas/code/CodeArea.scss";
@use "./Areas/text/TextArea.scss";
@use "./Buttons/Buttons.scss";
@use "./Areas/image/imageArea.scss";
@use "./Areas/title/TitleArea.scss";
@use "./Areas/header/Header.scss";

.deleteArea {
    color: "white"
}

.AcceptButton {
    padding: 3px 6px;
    background: crimson;
    margin-left: 10px;
}

