@use "./f-item/style.scss";
@use "../temlate.scss";

.Features {
    @extend %header;
}


.Features-list {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}