
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.Header-Menu {
    position: fixed;
    width: 100%;
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: space-between; 
    color: white;
    li{
       
       list-style-type: none;
       display: inline-block;
    }
    display: flex;
}



/* animation */

[data-aos="header"] {
    background: black;
    height: 10%;
    transition-property: background;
    border: {
        bottom-left-radius: 0%;
        bottom-right-radius: 0%;
    };
    &.aos-animate {
        background: rgb(167, 29, 29);
        height: 9%;
        border: {
            bottom-left-radius: 1%;
            bottom-right-radius: 1%;
        };
    }
}