.Home-width {
    color: white;
    margin: auto 0 auto 150px;

    .text-1 {
        font-size: 27px;
    }

    .text-2 {
        font : {
            size: 75px;
            weight: 700;
        }
        margin-left: -3px;
    }

    .text-3 {
        font-size: 40px;
        margin: 5px 0;
    }

    .changedText {
        font-weight: 500;
        color: crimson;
    }


}

.Home {
    padding: 100px;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 500px;

    @media screen and (max-width:600px) {
        padding: 20px;

        .Home-width {
            margin-left: 0%;
            margin-top: 100%;
        }
    }
}

.Cursor {
    color: crimson;
    opacity: 1;
    animation: ease 0.2s infinite alternate cursorjsblink;
} 

@keyframes cursorjsblink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}