.card {
    background: #222;
    text-align: center;
    width: calc(33% - 20px);
    padding: 20px 25px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 6px;
    height: max-content;

    .Features-title { 
        color: white;
        margin: 10px 0 7px 0;
        font: {
            size: 25px;
            weight: 500;
            family: 'Poppins', sans-serif;
        }
    } 

    .descript {
        font: {
            size: 18px;
            weight: 300;
            family: 'Poppins', sans-serif;
            
        }
        
        color: white;
    }

    &:hover {
        transition: all  0.6s ease;
        
        
        background: crimson;
        transform: scale(1.01);
        
    }
}