.Card-skills {
    background: #222;
    padding: 20px 25px;
    text-align: left;
    margin-bottom: 20px;
    width: 48%;

    .Box-skills {
        
    }
    .Title-skills {
        font: {
            weight: 500;
            height: 22px;
        }

    }

    .Stars {
        width: 33%;
    }
} 