.Card-skills {
    background: #121212;
    padding: 20px 25px;
    text-align: left;
    margin-bottom: 20px;
    width: 48%;
    border-radius: 6px;

    &:hover {
        .Box-Skills {
            transform: scale(1.05);
            transition: all  0.6s ease;
        }
    }
    
    .Box-Skills {
        display: flex;
        justify-content: space-between;
        align-items:center;

        
    }
    .Title-skills {
        font: {
            weight: 500;
            height: 22px;
        }

    }


} 