@use "./header/style.scss";


.navbar {
    position: fixed;
    width: 100%;
    background: black;
    z-index: 100;
}



/* animation */
[data-aos="navbar"] {
    background: #121212;
    padding: 30px 0px;
    transition-property: background, padding;
    border: {
        bottom-left-radius: 0%;
        bottom-right-radius: 0%;
    };
    &.aos-animate {
        .Header-Span{
            color: white;
        }
        background:crimson;
        padding: 15px 0px;
        border: {
            bottom-left-radius: 1%;
            bottom-right-radius: 1%;
        };
    }
}

