
.Out-div{
    // background: white;
  .icon{
        color: white;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}

.helperWindow {
    right: 0;
    position: absolute;
    z-index: 99;
    width: 100px;
    height: 100px;
    background-color: aqua;
}