.Article-Item {
    margin: 10% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;

    .Article-Img {
        object-fit: cover;
        width: 80%;
        border: 5px solid crimson;
        border-radius: 6px;
    }

    .Article-Title {
        margin: 35px;
    }

    .Article-Text {
            margin-top: 35px;
    }
}

.notFound {
    color: #fff;
    text-align: center;
    margin-top: 15%;
}
