.Header-Menu {
    justify-content: space-between; 
    display: flex;
    align-items: center;
    li{
       list-style-type: none;
       display: inline-block;
    }
    
    ul a {
        color: white;
        margin-left: 25px;
        font: { 
            size: 18px;
            weight: 500;
        }

        &:hover {
            text-shadow: 0 0 .1em, 0 0 .3em;
            transition: color 0.3s ease;
            color:  crimson;
        }
    }

    @media screen and (max-width:600px) {
        justify-content: flex-start;
    }
}

.aos-animate .Header-Menu ul li a {
    color: white;
}


.logo {
    & a{
        color: white;
    }
    font: {
        size: 35px;
        weight: 600;
    }
    .Header-Span {
        color: crimson; 
    }
}